---
import Social from './Social.astro';
---


<footer>
  <h4>Mis redes sociales:</h4>
  <ul>
    <Social platform="github" username="orlancst" />
    <Social platform="x" username="orlancssst" />
  </ul>
</footer>